Django==2.2.13
django-environ
gunicorn
pyyaml==5.1.1
bs4
requests
psycopg2-binary
django-storages[google]
google-cloud-secret-manager==0.1.1

#-e git://gitlab.com/potato-oss/google-cloud/django-gcloud-connectors.git#egg=django-gcloud-connectors
./django-gcloud-connectors
